
spring:
  datasource:
    url: jdbc:h2:mem:mydb
    username: sa
    password: 1234
    driverClassName: org.h2.Driver
  jpa:
    hibernate:
      ddl-auto: create-drop
    spring.jpa.database-platform: org.hibernate.dialect.H2Dialect
    show-sql: true
  h2:
    console.enabled: true
  batch:
      job:
        enabled: false
file:
  input: test.csv
server:
  port: 8081